<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpotifyMVC</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/style.css" />
    <link rel="stylesheet" href="~/keyframes.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    @RenderBody()
    <footer class="">
        <div class="hfont font-color-accent1">
            &copy; 2019 - SpotifyMVC
        </div>
    </footer>
</body>

</html>