
bin/Debug/netcoreapp3.0/appsettings.Development.json
bin/Debug/netcoreapp3.0/appsettings.json
bin/Debug/netcoreapp3.0/C# HTML JS - Polecanko.deps.json
bin/Debug/netcoreapp3.0/C# HTML JS - Polecanko.dll
bin/Debug/netcoreapp3.0/C# HTML JS - Polecanko.exe
bin/Debug/netcoreapp3.0/C# HTML JS - Polecanko.pdb
bin/Debug/netcoreapp3.0/C# HTML JS - Polecanko.runtimeconfig.dev.json
bin/Debug/netcoreapp3.0/C# HTML JS - Polecanko.runtimeconfig.json
bin/Debug/netcoreapp3.0/C# HTML JS - Polecanko.Views.dll
bin/Debug/netcoreapp3.0/C# HTML JS - Polecanko.Views.pdb
bin/Debug/netcoreapp3.0/Properties/launchSettings.json
obj/C# HTML JS - Polecanko.csproj.nuget.cache
obj/C# HTML JS - Polecanko.csproj.nuget.dgspec.json
obj/C# HTML JS - Polecanko.csproj.nuget.g.props
obj/C# HTML JS - Polecanko.csproj.nuget.g.targets
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.assets.cache
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.csproj.CopyComplete
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.dll
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.exe
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.pdb
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.RazorAssemblyInfo.cache
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.RazorAssemblyInfo.cs
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.RazorCoreGenerate.cache
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.RazorTargetAssemblyInfo.cs
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.TagHelpers.input.cache
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.TagHelpers.output.cache
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.Views.dll
obj/Debug/netcoreapp3.0/C# HTML JS - Polecanko.Views.pdb
obj/Debug/netcoreapp3.0/project.razor.json
obj/Debug/netcoreapp3.0/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Spotify/Callback.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Spotify/Index.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Spotify/Test.cshtml.g.cs
obj/Debug/netcoreapp3.0/staticwebassets/C# HTML JS - Polecanko.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.0/staticwebassets/C# HTML JS - Polecanko.StaticWebAssets.xml
obj/project.assets.json
.vscode/launch.json
.vscode/tasks.json
