<header>
    <div class="header-selection-container">
        <ul class="header-selection-list font-big font-heading">
            <li class="selected"><span class="tab">NEWEST RELEASES</span></li>
            <li><span class="tab">RECOMMENDATIONS</span></li>
        </ul>
    </div>
</header>
<main>
    <dl>
        <dt class="font-heading font-big font-green">#artist# - #title#</dt>
        <dd class="font-content font-medium font-white">#player #album #duration</dd>
        <dt class="font-heading font-big font-green">#artist# - #title#</dt>
        <dd class="font-content font-medium font-white">#player #album #duration</dd>
        <dt class="font-heading font-big font-green">#artist# - #title#</dt>
        <dd class="font-content font-medium font-white">#player #album #duration</dd>
        <dt class="font-heading font-big font-green">#artist# - #title#</dt>
        <dd class="font-content font-medium font-white">#player #album #duration</dd>
        <dt class="font-heading font-big font-green">#artist# - #title#</dt>
        <dd class="font-content font-medium font-white">#player #album #duration</dd>
        <dt class="font-heading font-big font-green">#artist# - #title#</dt>
        <dd class="font-content font-medium font-white">#player #album #duration</dd>
        <dt class="font-heading font-big font-green">#artist# - #title#</dt>
        <dd class="font-content font-medium font-white">#player #album #duration</dd>
        <dt class="font-heading font-big font-green">#artist# - #title#</dt>
        <dd class="font-content font-medium font-white">#player #album #duration</dd>
        <dt class="font-heading font-big font-green">#artist# - #title#</dt>
        <dd class="font-content font-medium font-white">#player #album #duration</dd>
        <dt class="font-heading font-big font-green">#artist# - #title#</dt>
        <dd class="font-content font-medium font-white">#player #album #duration</dd>
        <dt class="font-heading font-big font-green">#artist# - #title#</dt>
        <dd class="font-content font-medium font-white">#player #album #duration</dd>
        <dt class="font-heading font-big font-green">#artist# - #title#</dt>
        <dd class="font-content font-medium font-white">#player #album #duration</dd>
        <dt class="font-heading font-big font-green">#artist# - #title#</dt>
        <dd class="font-content font-medium font-white">#player #album #duration</dd>
        <dt class="font-heading font-big font-green">#artist# - #title#</dt>
        <dd class="font-content font-medium font-white">#player #album #duration</dd>
        <dt class="font-heading font-big font-green">#artist# - #title#</dt>
        <dd class="font-content font-medium font-white">#player #album #duration</dd>
    </dl>
</main>