<div class='v-align'>
    <div class='hero-btn'>
        <button class='btn'>
            <span class="font-heading font-big font-white">Authenticate</span>
        </button>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".hero-btn").click(function () {
            if (
                !$(".hero-btn")
                    .parent()
                    .hasClass("active")
            ) {
                $(this)
                    .parent()
                    .stop()
                    .addClass("active");
                setTimeout(function () {
                    var params = '@ViewData["params"]';
                    params = params.replace(/&amp;/g, "&");
                    window.location.href = "https://accounts.spotify.com/authorize/".concat(params);
                }, 1500);
                setTimeout(function () {
                    $(".hero-btn")
                        .parent()
                        .removeClass("active");
                }, 2000);
            }
        });
    });

</script>