<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Authenticate <a href='@string.Format("https://accounts.spotify.com/authorize/{0}",(string)ViewData["params"])'>Spotify</a>.</p>
</div>
