@page
@model SpotifyR.CallbackModel
<main class="no-scroll">
    <div class="v-align">
        <div class="callback-redirect font-white">
            <span class="font-heading font-medium">@ViewData["state"]</span>
        </div>
    </div>
</main>
<script>
    $(document).ready(function () {

            var url = new URL(window.location.href);
            var status = '@ViewData["status"]';
            if (status == 'ok'){
                var code = url.searchParams.get("code");
                window.location.href = 'Dashboard?code=' + code;
            } else {
                setTimeout(function () {
                    window.location.href = '/';
                },1500)
            }
    });
</script>