@page
@model SpotifyR.IndexModel
<main class="no-scroll">
    <div class='v-align'>
        <button class='anim-button'>
            <span class="font-heading font-big font-white">Authenticate</span>
        </button>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
        <span class='particles-circle'></span>
    </div>
</main>

<script>
    $(document).ready(function () {
        $(".anim-button").click(function () {
            var params = '@ViewData["params"]';
            params = params.replace(/&amp;/g, "&");
            window.location.href = "https://accounts.spotify.com/authorize/".concat(params);
        })
        $(".anim-button").hover(function () {
            if (
                !$(".anim-button")
                    .parent()
                    .hasClass("active")
            ) {
                $(this)
                    .parent()
                    .stop()
                    .addClass("active");
                setTimeout(function () {
                    $(".anim-button")
                        .parent()
                        .removeClass("active");
                }, 1500);
            }
        });
    });

</script>