/* KEYFRAMES */
.particles-circle:nth-of-type(odd) {
    border: solid 2px #1db954;
    background-color: transparent;
  }
  @keyframes particles-1 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 26vw;
      top: 19vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(1) {
    animation: particles-1 1.5s 0.025s;
  }

  @keyframes particles-2 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 80vw;
      top: 15vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(2) {
    animation: particles-2 1.5s 0.05s;
  }
  @keyframes particles-3 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 77vw;
      top: 12vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(3) {
    animation: particles-3 1.5s 0.075s;
  }
  @keyframes particles-4 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 65vw;
      top: -5vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(4) {
    animation: particles-4 1.5s 0.1s;
  }
  @keyframes particles-5 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 64vw;
      top: -20vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(5) {
    animation: particles-5 1.5s 0.125s;
  }
  @keyframes particles-6 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 67vw;
      top: -11vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(6) {
    animation: particles-6 1.5s 0.15s;
  }
  @keyframes particles-7 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 72vw;
      top: -7vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(7) {
    animation: particles-7 1.5s 0.175s;
  }
  @keyframes particles-8 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 42vw;
      top: -21vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(8) {
    animation: particles-8 1.5s 0.2s;
  }
  @keyframes particles-9 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 69vw;
      top: 6vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(9) {
    animation: particles-9 1.5s 0.225s;
  }
  @keyframes particles-10 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 61vw;
      top: 1vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(10) {
    animation: particles-10 1.5s 0.25s;
  }
  @keyframes particles-11 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 59vw;
      top: -13vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(11) {
    animation: particles-11 1.5s 0.275s;
  }
  @keyframes particles-12 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 73vw;
      top: -14vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(12) {
    animation: particles-12 1.5s 0.3s;
  }
  @keyframes particles-13 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 31vw;
      top: 20vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(13) {
    animation: particles-13 1.5s 0.325s;
  }
  @keyframes particles-14 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 25vw;
      top: 10vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(14) {
    animation: particles-14 1.5s 0.35s;
  }
  @keyframes particles-15 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 63vw;
      top: 11vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(15) {
    animation: particles-15 1.5s 0.375s;
  }
  @keyframes particles-16 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 28vw;
      top: 14vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(16) {
    animation: particles-16 1.5s 0.4s;
  }
  @keyframes particles-17 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 50vw;
      top: -23vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(17) {
    animation: particles-17 1.5s 0.425s;
  }
  @keyframes particles-18 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 51vw;
      top: -18vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(18) {
    animation: particles-18 1.5s 0.45s;
  }
  @keyframes particles-19 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 43vw;
      top: 3vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(19) {
    animation: particles-19 1.5s 0.475s;
  }
  @keyframes particles-20 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 66vw;
      top: 5vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(20) {
    animation: particles-20 1.5s 0.5s;
  }
  @keyframes particles-21 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 32vw;
      top: 2vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(21) {
    animation: particles-21 1.5s 0.525s;
  }
  @keyframes particles-22 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 38vw;
      top: 22vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(22) {
    animation: particles-22 1.5s 0.55s;
  }
  @keyframes particles-23 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 36vw;
      top: 4vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(23) {
    animation: particles-23 1.5s 0.575s;
  }
  @keyframes particles-24 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 62vw;
      top: -6vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(24) {
    animation: particles-24 1.5s 0.6s;
  }
  @keyframes particles-25 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 44vw;
      top: -17vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(25) {
    animation: particles-25 1.5s 0.625s;
  }
  @keyframes particles-26 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 34vw;
      top: -3vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(26) {
    animation: particles-26 1.5s 0.65s;
  }
  @keyframes particles-27 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 37vw;
      top: -16vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(27) {
    animation: particles-27 1.5s 0.675s;
  }
  @keyframes particles-28 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 45vw;
      top: -15vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(28) {
    animation: particles-28 1.5s 0.7s;
  }
  @keyframes particles-29 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 54vw;
      top: -1vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(29) {
    animation: particles-29 1.5s 0.725s;
  }
  @keyframes particles-30 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 49vw;
      top: 24vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(30) {
    animation: particles-30 1.5s 0.75s;
  }
  @keyframes particles-31 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 40vw;
      top: -2vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(31) {
    animation: particles-31 1.5s 0.775s;
  }
  @keyframes particles-32 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 52vw;
      top: 9vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(32) {
    animation: particles-32 1.5s 0.8s;
  }
  @keyframes particles-33 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 47vw;
      top: -24vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(33) {
    animation: particles-33 1.5s 0.825s;
  }
  @keyframes particles-34 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 53vw;
      top: 8vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(34) {
    animation: particles-34 1.5s 0.85s;
  }
  @keyframes particles-35 {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      left: 39vw;
      top: 21vh;
      transform: scale(0);
      visibility: hidden;
    }
  }
  .active .particles-circle:nth-of-type(35) {
    animation: particles-35 1.5s 0.875s;
  }