:root {
  --primary: #181818;
  --darker: #121212;
  --lighter: #282828;
  --accent: #1db954;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:400, 600");
.hero-btn {
  position: relative;
  width: 250px;
  margin: auto;
  height: 66px;
}
.hero-btn .btn {
  background-color: var(--accent);
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  width: 250px;
  height: 66px;
  text-align: center;
  line-height: 66px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-transform: perspective(600px) rotateX(0deg) scale(1);
  -ms-transform: perspective(600px) rotateX(0deg) scale(1);
  -webkit-transform: perspective(600px) rotateX(0deg) scale(1);
  transform: perspective(600px) rotateX(0deg) scale(1);
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.hero-btn .btn:hover {
  background-color: var(--lighter);
}
.hero-btn .btn:active {
  -moz-transform: perspective(600px) rotateX(15deg) scale(0.9);
  -ms-transform: perspective(600px) rotateX(15deg) scale(0.9);
  -webkit-transform: perspective(600px) rotateX(15deg) scale(0.9);
  transform: perspective(600px) rotateX(15deg) scale(0.9);
  font-size: 21px;
}
.active .hero-btn .btn:active {
  -moz-transform: perspective(600px) rotateX(0deg) scale(1);
  -ms-transform: perspective(600px) rotateX(0deg) scale(1);
  -webkit-transform: perspective(600px) rotateX(0deg) scale(1);
  transform: perspective(600px) rotateX(0deg) scale(1);
  font-size: 22px;
}
.hero-btn .particles-circle {
  position: absolute;
  background-color: var(--accent);
  width: 30px;
  height: 30px;
  top: 10px;
  left: 50%;
  margin-left: -15px;
  z-index: -1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  visibility: hidden;
}

.v-align {
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
  max-height: 90vh;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.wrap__sparks {
  transform: translateZ(-100px);
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background: var(--primary);
  height: 100vh;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 11px;
  padding: 1em;
  color: #ffffff;
}

/* KEYFRAMES */
.hero-btn .particles-circle:nth-of-type(odd) {
  border: solid 2px #1db954;
  background-color: transparent;
}
@keyframes particles-1 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 179px;
    top: -100px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(1) {
  animation: particles-1 1.5s 0.025s;
}
@keyframes particles-2 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 73px;
    top: -214px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(2) {
  animation: particles-2 1.5s 0.05s;
}
@keyframes particles-3 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 7px;
    top: -150px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(3) {
  animation: particles-3 1.5s 0.075s;
}
@keyframes particles-4 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 188px;
    top: -184px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(4) {
  animation: particles-4 1.5s 0.1s;
}
@keyframes particles-5 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 19px;
    top: 204px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(5) {
  animation: particles-5 1.5s 0.125s;
}
@keyframes particles-6 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 179px;
    top: -105px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(6) {
  animation: particles-6 1.5s 0.15s;
}
@keyframes particles-7 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -151px;
    top: 151px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(7) {
  animation: particles-7 1.5s 0.175s;
}
@keyframes particles-8 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -141px;
    top: -240px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(8) {
  animation: particles-8 1.5s 0.2s;
}
@keyframes particles-9 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 40px;
    top: 39px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(9) {
  animation: particles-9 1.5s 0.225s;
}
@keyframes particles-10 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 219px;
    top: -138px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(10) {
  animation: particles-10 1.5s 0.25s;
}
@keyframes particles-11 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 60px;
    top: 152px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(11) {
  animation: particles-11 1.5s 0.275s;
}
@keyframes particles-12 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -145px;
    top: 70px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(12) {
  animation: particles-12 1.5s 0.3s;
}
@keyframes particles-13 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 65px;
    top: -207px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(13) {
  animation: particles-13 1.5s 0.325s;
}
@keyframes particles-14 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -94px;
    top: -79px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(14) {
  animation: particles-14 1.5s 0.35s;
}
@keyframes particles-15 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -109px;
    top: 218px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(15) {
  animation: particles-15 1.5s 0.375s;
}
@keyframes particles-16 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 97px;
    top: 224px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(16) {
  animation: particles-16 1.5s 0.4s;
}
@keyframes particles-17 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -237px;
    top: -81px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(17) {
  animation: particles-17 1.5s 0.425s;
}
@keyframes particles-18 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 105px;
    top: -180px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(18) {
  animation: particles-18 1.5s 0.45s;
}
@keyframes particles-19 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -44px;
    top: -193px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(19) {
  animation: particles-19 1.5s 0.475s;
}
@keyframes particles-20 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -164px;
    top: 237px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(20) {
  animation: particles-20 1.5s 0.5s;
}
@keyframes particles-21 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -243px;
    top: -120px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(21) {
  animation: particles-21 1.5s 0.525s;
}
@keyframes particles-22 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 108px;
    top: -192px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(22) {
  animation: particles-22 1.5s 0.55s;
}
@keyframes particles-23 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -186px;
    top: -240px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(23) {
  animation: particles-23 1.5s 0.575s;
}
@keyframes particles-24 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 203px;
    top: -92px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(24) {
  animation: particles-24 1.5s 0.6s;
}
@keyframes particles-25 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 101px;
    top: -75px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(25) {
  animation: particles-25 1.5s 0.625s;
}
@keyframes particles-26 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -2px;
    top: 32px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(26) {
  animation: particles-26 1.5s 0.65s;
}
@keyframes particles-27 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 180px;
    top: 248px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(27) {
  animation: particles-27 1.5s 0.675s;
}
@keyframes particles-28 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 222px;
    top: 224px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(28) {
  animation: particles-28 1.5s 0.7s;
}
@keyframes particles-29 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -228px;
    top: -68px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(29) {
  animation: particles-29 1.5s 0.725s;
}
@keyframes particles-30 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -115px;
    top: -167px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(30) {
  animation: particles-30 1.5s 0.75s;
}
@keyframes particles-31 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 247px;
    top: 201px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(31) {
  animation: particles-31 1.5s 0.775s;
}
@keyframes particles-32 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: 136px;
    top: 68px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(32) {
  animation: particles-32 1.5s 0.8s;
}
@keyframes particles-33 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -130px;
    top: 220px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(33) {
  animation: particles-33 1.5s 0.825s;
}
@keyframes particles-34 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -6px;
    top: 1px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(34) {
  animation: particles-34 1.5s 0.85s;
}
@keyframes particles-35 {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    left: -178px;
    top: -141px;
    transform: scale(0);
    visibility: hidden;
  }
}
.active .hero-btn .particles-circle:nth-of-type(35) {
  animation: particles-35 1.5s 0.875s;
}